<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hi there</h1>
    <main>
      <% for (let key of keys) { %>
      <li>
        <%=key%> <%=data[key].last%> <%=data[key].buy%> <%=data[key].sell%>
        <%=data[key].volume%> <%=data[key].base_unit%> <%}%>
      </li>
    </main>
  </body>
</html>
<!-- 
<h1>Hi there</h1> -->
